.userCard {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}

.userCard ul {
  list-style-type: none;
}

.userCard ul li {
  margin-bottom: 2px;
}

.delete{
  background-color: red;
  }
.update{
      background-color: green;
  }